@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 180 50% 90%;
    --card-foreground: 180 5% 15%;
    --popover: 180 56% 95%;
    --popover-foreground: 180 95% 10%;
    --primary: 180 96.6% 22.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 30% 82%;
    --secondary-foreground: 0 0% 0%;
    --muted: 142 30% 85%;
    --muted-foreground: 180 5% 40%;
    --accent: 142 30% 82%;
    --accent-foreground: 180 5% 15%;
    --destructive: 0 56% 50%;
    --destructive-foreground: 180 5% 90%;
    --border: 180 30% 82%;
    --input: 180 30% 50%;
    --ring: 180 96.6% 22.9%;
    --radius: 0.75rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 10%;
    --card-foreground: 180 5% 90%;
    --popover: 180 50% 5%;
    --popover-foreground: 180 5% 90%;
    --primary: 180 96.6% 22.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 142 30% 25%;
    --muted-foreground: 180 5% 65%;
    --accent: 142 30% 25%;
    --accent-foreground: 180 5% 90%;
    --destructive: 0 56% 50%;
    --destructive-foreground: 180 5% 90%;
    --border: 180 30% 50%;
    --input: 180 30% 50%;
    --ring: 180 96.6% 22.9%;
    --radius: 0.75rem;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
